django-simple-rest>=1.4.0
django>=2.0,<2.1
django-model-utils>=2.0
# Additional requirements go here
-e git+http://cb99023b33bebce11ac417b8f0540c99bcbde1b9@fadia.lan.prolibre.com:10080/alu/nobinobi-core.git@develop#egg=nobinobi-core
git+https://github.com/darklow/django-suit.git # django-suit>=2.0a1
arrow>=0.12
django-crispy-forms>=1.7.0
django-extensions>=2.1.3
